body {
    background-color: #007AFF !important;
}

.container {
    min-height: 100vh;
    background-color: #007AFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
}

.quiz-card {
    width: 30rem;
}